.element {
  height: calc((100vh - 95px) / 5 - 1px);
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.date {
  height: 24px;
  padding: 5px 0;
}

.today {
  display: inline-block;
  width: 24px;
  line-height: 24px;
  color: #fff;
  background-color: #1a73e8;
  border-radius: 50%;
}

.schedules {
  height: calc(18vh - 40px);
  overflow: auto;
}

.schedules::-webkit-scrollbar {  /* Chrome, Safari 対応 */
  display: none;
}
